
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{% block title %}Dope Destinations{% endblock %}</title>
    {% block head %}
     {% endblock %}
  </head>
  <body>
    <header>
      {% load static %}
      <img src="{% static "weed4.png" %}" height="120" width="120" alt="Dope Destinations"/>
      <h3 style="font-family: sans-serif;">Dope Destinations</h3>
      <p style="color: green; font-family: sans-serif;"><i>Low Fares. High Ride.</i></p>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
      {% endif %}
<!--      <hr>  -->
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>













