
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{% block title %}Dope Destinations{% endblock %}</title>
    {% block head %}
     {% endblock %}
  </head>
  <body>
    <header>
{% load staticfiles %}
<img src="{% static "/Users/christatimil/Projects/ddapp/ddapp/ddapp/ddapp/static/ddlogo.png" %}" alt="My image"/>      
{% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
      {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>












